<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>LoginWithHibernate</display-name>
      <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
 
    <context-param>
        <param-name>userName</param-name>
        <param-value>chandaranakeyur@gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>password</param-name>
        <param-value>Keyur@8200</param-value>
    </context-param>

  <servlet>
        <servlet-name>CompanyController</servlet-name>
        <servlet-class>Controller.CompanyController</servlet-class>
    </servlet>
     <servlet>
		<servlet-name>NoticeController</servlet-name>
		<servlet-class>Controller.NoticeController</servlet-class>
	 </servlet>
	 <servlet>
		<servlet-name>EmailSendingServlet</servlet-name>
		<servlet-class>Email.EmailSendingServlet</servlet-class>
	 </servlet>
     <servlet-mapping>
        <servlet-name>CompanyController</servlet-name>
        <url-pattern>/CompanyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>NoticeController</servlet-name>
    	<url-pattern>/NoticeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>EmailSendingServlet</servlet-name>
    	<url-pattern>/EmailSendingServlet</url-pattern>
    </servlet-mapping>
  <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>